* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #5D6687;
}

body {
  background: radial-gradient(circle, #14104b 61%, black 100%);
  min-height: 200vh;
}

.wrapper {
  max-width: 1620px;
  margin: 0 auto;
  position: relative;
  top: 0;
  left: 0;
}

button {
  cursor: pointer;
  background-color: transparent;
  color: #5D6687;
  border: 2px solid #FF4D71;
  color: #FF4D71;
}

nav .hamburger {
  position: fixed;
  top: 10px;
  left: 5px;
  border: none;
  z-index: 2;
}

nav .hamburger i {
  font-size: 34px;
}

nav ul {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 60px;
  width: 150px;
  height: 100vh;
  font-weight: bold;
  background-color: black;
  overflow: hidden;
  border-left: none;
  list-style: none;
  -webkit-transition: linear .3s;
  transition: linear .3s;
  z-index: 1;
}

nav ul li {
  margin: 10px 0;
}

nav ul a {
  font-size: 20px;
  text-decoration: none;
  letter-spacing: .7px;
  color: #5D6687;
  text-shadow: 2px 2px 4px black;
}

nav ul a:visited {
  color: #5D6687;
}

nav ul a:hover {
  color: #FF4D71;
}

nav ul.mobile-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

#home {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "name" "photo" "contact";
  justify-items: center;
  margin: 60px 20px 0;
}

#home .home__text {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: name;
}

#home .home__text p {
  font-size: 18px;
  text-align: center;
}

#home .home__text h1 {
  color: #EFF7FE;
  letter-spacing: 1px;
  text-align: center;
}

#home .home__text h2 {
  font-weight: normal;
  font-size: 22px;
  letter-spacing: 1px;
  text-align: center;
}

#home .home__image {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: photo;
  margin: 25px auto;
  height: 250px;
}

#home .home__image img {
  height: 100%;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  -webkit-box-shadow: -10px -10px 10px #5D6687;
          box-shadow: -10px -10px 10px #5D6687;
}

#home button {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: contact;
  height: 36px;
  width: 120px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

#home button::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  z-index: -1;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
  width: 100%;
  height: 6px;
  background: radial-gradient(circle, black 61%, #14104b 100%);
  -webkit-transition: height .2s ease .2s, -webkit-transform .2s linear 0s;
  transition: height .2s ease .2s, -webkit-transform .2s linear 0s;
  transition: transform .2s linear 0s, height .2s ease .2s;
  transition: transform .2s linear 0s, height .2s ease .2s, -webkit-transform .2s linear 0s;
}

#home button:hover::after {
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  height: 100%;
}

@media (min-width: 533px) {
  nav .hamburger {
    left: 10px;
  }
  #home {
        grid-template-areas: "name photo" "name photo" "contact photo" "contact photo";
    margin: 60px 20px 0;
  }
  #home .home__text {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: name;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 800px) {
  #home .home__text h1 {
    font-size: 32px;
  }
  #home .home__text h2 {
    font-size: 26px;
  }
  #home .home__text p {
    letter-spacing: 1px;
  }
  #home .home__image {
    height: 31.25vw;
    max-height: 437.5px;
  }
  #home button {
    font-size: 18px;
    letter-spacing: 1px;
  }
}

@media (min-width: 960px) {
  #home .home__text h1 {
    font-size: 5vw;
  }
  #home .home__text h2 {
    font-size: 4vw;
  }
  #home .home__text p {
    font-size: 3vw;
  }
  #home button {
    font-size: 3vw;
    height: 6vw;
    width: 18.5vw;
    max-height: 84px;
    max-width: 259px;
  }
}

@media (min-width: 1024px) {
  nav .hamburger {
    display: none;
  }
  nav ul {
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 40px 6% 40px 0;
    width: 100%;
    height: 70px;
    border-bottom-right-radius: none;
    border-top-right-radius: none;
    border: none;
    background: transparent;
    -webkit-transition: .3s;
    transition: .3s;
  }
  nav ul li {
    margin-right: 100px;
  }
  nav ul li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 28px;
    text-align: center;
    width: 150px;
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
    -webkit-transition: .3s linear;
    transition: .3s linear;
    border: 2px solid transparent;
  }
  nav ul li a:hover {
    border-color: #FF4D71;
  }
  #home {
    margin: 90px 20px 0;
  }
  #home .home__image img {
    -webkit-box-shadow: -15px -15px 15px #5D6687;
            box-shadow: -15px -15px 15px #5D6687;
  }
}

@media (min-width: 1400px) {
  #home .home__text h1 {
    font-size: 70px;
  }
  #home .home__text h2 {
    font-size: 56px;
  }
  #home .home__text p {
    font-size: 40px;
  }
  #home p,
  #home button {
    font-size: 40px;
  }
}

.cursor {
  -webkit-animation: cursorFlashing 2s infinite linear;
          animation: cursorFlashing 2s infinite linear;
}

@-webkit-keyframes cursorFlashing {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes cursorFlashing {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */